
.carousel-item {
    height: 90vh;
    min-height: 300px;
}

.carousel-item img {
    max-height: 90vh; /* Limits the maximum height to 80% of the viewport height */
    object-fit: contain; /* Ensures the image scales and fills the carousel area while maintaining aspect ratio */
    width: 100%; /* Stretches the image to fill the width of the container */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(255, 165, 0, 0.75); /* Adjust the color and opacity as needed */
    background-size: 100%, 100%; /* Ensure the icon scales properly */
    border-radius: 50%; /* Optional: Make the icon circular */
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: orange; /* Adjust the color and opacity as needed */
}

.carousel-caption {
    bottom: 40px;
    background-color: rgba(33, 37, 41, 0.3);
}

.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.carousel-inner::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}


@media (min-width: 768px) and (max-width: 991px) {
    .carousel-item {
        height: 90vh;
    }

    .carousel-item img {
        max-height: 65vh; /* Limits the maximum height to 80% of the viewport height */
        object-fit: cover; /* Ensures the image scales and fills the carousel area while maintaining aspect ratio */
        width: 100%; /* Stretches the image to fill the width of the container */
    }

    .carousel-caption {
        bottom: 10px;
    }

    .carousel-caption h5 {
        font-size: 45px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 25px;
    }

    .carousel-caption a {
        bottom: 220px;

    }

    .carousel-caption p {
        width: 100%;
        line-height: 1.6;
        font-size: 17px;
    }
}

/* Small Screens (Large Mobile Devices) */
@media (min-width: 576px) and (max-width: 767px) {
    .carousel-item {
        height: 90vh;
    }

    .carousel-item img {
        max-height: 65vh; /* Limits the maximum height to 80% of the viewport height */
        object-fit: cover; /* Ensures the image scales and fills the carousel area while maintaining aspect ratio */
        width: 100%; /* Stretches the image to fill the width of the container */
    }

    .carousel-caption {
        bottom: 20px;
    }

    .carousel-caption h5 {
        font-size: 45px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 25px;
    }

    .carousel-caption a {
        bottom: 220px;

    }

    .carousel-caption p {
        width: 100%;
        line-height: 1.6;
        font-size: 12px;
    }
}

/* Extra Small Screens (Small Mobile Devices) */
@media (max-width: 575px) {
    .carousel-item {
        height: 80vh;
    }

    .carousel-item img {
        max-height: 90vh; /* Limits the maximum height to 80% of the viewport height */
        object-fit: cover; /* Ensures the image scales and fills the carousel area while maintaining aspect ratio */
        width: 100%; /* Stretches the image to fill the width of the container */
    }

    .carousel-caption {
        bottom: 30px;
    }

    .carousel-caption h5 {
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 25px;
    }

    .carousel-caption a {
        bottom: 220px;

    }

    .carousel-caption p {
        width: 100%;
        line-height: 1.6;
        font-size: 12px;
    }
}