.footer{
    background-color: #212429;
}
.footer-icons .icon {
    color: #fff; /* Icon color */
    font-size: 1.5rem; /* Icon size */
}

.footer-icons .icon:hover {
    color: #81d4fa; /* Highlight color on hover */
    transition: color 0.3s ease;
}

